@model ProjectMillenium.Web.Models.ClaimViewModel
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

    <h3>Bu claimi silmek istediğinizden emin misiniz?</h3>
    <div>

        <hr />
        <dl class="row">

            <dt class="col-sm-2">
                @* @Html.DisplayNameFor(model => model.Name)*@Ad
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @*@Html.DisplayNameFor(model => model.Description)*@Claim Detayı

            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
        <form asp-action="DeleteClaim">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Sil" class="btn btn-danger" /> |
            <a asp-action="Index">Claim Listesine Geri Dön</a>
        </form>
    </div>
</body>
</html>